body{
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;

}
.container{
    width: 350px;
    height: 535px;
    background-color:hsl(225, 100%, 98%);
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    border-radius: 20px;
}
.img-hero{
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid lightgray;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-paragraph{
    font-size:16px;
    color:grey ;
    text-align: center;
}
.container-plan{
    margin-right: auto;
    margin-left: auto;
    background-color:rgb(224, 245, 233);
    width: 310px;
    height: 76px;
    border-radius: 3px;
}
.icon-music{
    margin: 14px;
}
.plan{
    text-align: left;
    position: absolute;
    display: inline-block;
}
.plan h2,p{
    margin: 8px;
}
.plan p{
    color: #7280a7;
}
.change{
    display: inline-block;
    text-align:right;
    position: relative;
    bottom: 32px;
    left: 155px;
}
.button-pay{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height:50px;
    box-shadow: 10px 13px 33px 0px rgba(0,0,0,0.29);
    border-radius: 12px;
}

.button{
    width: 100%;
    height:100%;
    border-radius: 12px;
    font-size:20px;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border:4px solid rgb(73, 22, 241)
}
.cancel-order{
    color: #7280a7;
    text-align: center;
    font-size:15px;
    display: block;
}
.box-cancel-order{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
footer{
    text-align: center;
    margin-top:100px;
}
.button:hover{
    background-color: hsl(245, 67%, 45%);
    color: rgb(235, 240, 240);
    border:3px solid rgb(56, 9, 209)
}
.button:active{
    background-color: hsl(245, 84%, 41%);
}